{% extends 'base.html' %}



{% block content %}
{% load crispy_forms_tags %}


<form method="POST">


  {% csrf_token %}

    {{ form | crispy }}




                                          &gt;
    <button type="button" class="btn btn-primary btn-sm">Register</button>

</form>



<pre> </pre>


     &gt;                                                                                                                                                       <button type="{% url 'login' %}" class="btn btn-primary btn-sm">log in</button>



{% endblock content %}

